<script src="~/Scripts/app/module.js"></script>
<script src="~/Scripts/app/storeController.js"></script>

<!-- #region Header-->
<div class="container">
    <div class="jumbotron">
        <h1>SZ</h1>
    </div>
    <p><h2>Home</h2></p>
</div>
<!-- #endregion -->
  Home  Controller / index...
<!-- #region Footer -->
<footer class="footer">
    <div class="container">
        <p class="text-muted">SZ - 2016...idvillota@gmail.com</p>
    </div>
</footer>
<!-- #endregion -->